* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head1 {
  text-align: center;
  font-size: 25px;
  background-color: rgb(122, 179, 228);
  color: rgb(59, 45, 222);
  padding: 10px;
  overflow: hidden;
}

.menu {
  background-image: url(Img/line.png);
  background-position: left;
  background-repeat: repeat-y;
  padding: 20px;
  overflow: hidden;
}

.content {
  padding: 20px 20px;
  background-image: url(Img/foto.png);
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  float: left;
  margin: 20px;


}

.text {
  text-align: center;
  font-size: 25px;
  padding: 20px;

}

.footer {
  text-align: center;
  font-size: 25px;
  background-color: rgb(122, 179, 228);
  color: rgb(59, 45, 222);
  padding: 10px;
  overflow: hidden;
  clear: both;

}