h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

body {
  background-color: rgb(247, 244, 244);
  height: 1000px;
}

.base {

  font-size: 15px;
  color: rgb(14, 14, 14);
  width: 400px;
  padding: 5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.base1 {
  top: 10px;
  background-color: rgb(201, 182, 39);
  padding: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;

}

a {
  text-decoration: none;
}