* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 15px;
}

p {
  padding-bottom: 10px;
}

body {
  display: block;
}

form {
  padding: 20px;
}

textarea {
  width: 100%;
}

.button {
  margin-top: 3px;
  padding: 2px 10px 2px 10px;
}


.title_menu {
  float: left;
}

.menu_right3 {
  padding-left: 180px;
  margin-bottom: 5px;
}

.menu_right2 {
  padding-left: 180px;
  margin-bottom: 5px;
}

.menu_right1 {
  padding-left: 180px;
  margin-bottom: 5px;
}

.menu_right {
  padding-left: 180px;
  margin-bottom: 5px;
}

.left {
  float: left;
}

.article {
  width: 100%;
}

@media screen and (max-width: 770px) {
  .menu_right {
    padding: 1px;

  }

  .left {
    float: none;
    padding-right: 90%;
    

  }

  .title_menu {
    float: none;
    padding-right: 90%;

  }

  .menu_right3 {
   

    
  }


  .menu_right1 {
    padding: 0;
  }

  .menu_right2 {
    padding: 0;



  }


}