* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgba(16, 97, 238, 0.503);
  color: blue;
  text-align: center;
  padding: 5px 5px;
  font-size: 25px;

}

.menu {
  background-image: url(img7/line.png);
  background-repeat: repeat-y;

}

.bolls {
  background-image: url(img7/ball.gif);
  background-position: right top;
  background-repeat: repeat-y;
}

.title {
  text-align: center;
  padding: 15px 15px;
}

.images-float {
  float: left;
  padding: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.footer {
  background-color: rgba(16, 97, 238, 0.503);
  color: blue;
  text-align: center;
  padding: 5px 5px;
  font-size: 25px;

}

.kinds_of_sports {
  width: 200px;
  float: left;
  margin-left: 25px;
}

@media screen and (max-width: 755px) {
  .header {}

  .menu {
    background-image: none;
    background-repeat: no-repeat;

    height: 330px;


    margin: 0;
    padding: 0;

  }

  .kinds_of_sports {

    background-color: rgb(228, 193, 127);

    max-width: 100%;

  }

  h2 {
    text-align: center;
    display: block;
    font-size: 1.5em;

  }

  .images-float {
    float: none;
    width: 100%;
    padding: 0 0 10px 0;

  }

  .footer {
    display: inline-block;
  }

  .clearfix::after {}


}